* {
  box-sizing: border-box; 
 }
 
 body {
   margin: 0;
   font-family: 'Roboto', sans-serif;
   font-size: 1.2rem;
   /* font-family: 'Roboto Mono', monospace; */
 }
 
 h1 {
   font-size: 3rem;
 }
 
 .row {
   display: flex;
   flex-direction: row;
   gap: 40px;
   padding: 3rem 0;
   text-align: center;
 }
 
 .row h2 {
   color: #87629A;
 }
 
 .nurow {
   background-color: #136C72;
   color: white;
   display: flex;
   flex-direction: row;
 }
 
 .nurow .col h2 {
   color: white;
 }
 
 
 .main {
   background-color: #23424a;
   color: white;
   padding: 5rem 0;
 }
 
 .container {
   margin: 0 auto;
   width: 80%;
   max-width: 1200px;
 }
 
 .intro {
   width: 50%;
 }
 
 .main p {
   margin-bottom: 3em;
 }
 
 .btn {
   display: inline-block;
   background-color: #38cfd9;
   color: #136c72;
   padding: 0.75rem 2rem;
   color: #23424a;
   text-decoration: none;
   text-transform: uppercase;
   border-radius: 100px;
   font-weight: 900;
 }